/* General styles */

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
dark-side-card + dark-side-card {
  margin-top: 15px;
}

dark-side-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form dark-side-button {
  float: right;
  margin-top: 15px;
}
